@inherits LayoutComponentBase

<PageTitle>MyCV</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>




    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
            <link href="css/site.css" rel="stylesheet">

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
